body{
    margin: 0 auto;
    background-color: antiquewhite;
}

h1{
    color: blueviolet;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.4em;
}

#middle{
    background-color: aqua;
    margin: 2% 10%;
    height: 20em;
    text-align: center;
}

#bottom{
    background-color: firebrick;
    margin: 2% 10%;
    height: 20em;
    color: white;
    text-align: center;
}

.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}